.navigation {
    background: rgb(252, 163, 17);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 5px solid rgb(229, 229, 229);
    width: 18rem;
    transition: all 1s linear;
}

.navigation.collapsed {
    width: 4rem;
    transition: all 1s linear;
}

nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

nav a {
    padding-bottom: 2rem;
    color: rgb(20, 33, 61);
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.collapse svg {
    transform: rotate(0turn);
    transition: all 1s linear;
}

.collapse.collapsed svg{
    transform: rotate(0.5turn);
    transition: all 1s linear;
}

.collapse:hover {
    cursor: pointer;
}

.nav-icon-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    color: rgb(20, 33, 61);
}

.nav-text {
    width: 10rem;
    overflow: hidden;
    transition: all 1s linear;
}

.nav-text.collapsed {
    width: 0;
    transition: all 1s linear;
}