body {
  background: #023047;
}

.App {
  text-align: center;
}

/* amplify overrides */
:root {
  --amplify-primary-color: #FFB703;
  --amplify-primary-tint: #FB8500;
  --amplify-primary-shade: #219EBC;
}