body {
  background: #023047;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

/* amplify overrides */
:root {
  --amplify-primary-color: #FFB703;
  --amplify-primary-tint: #FB8500;
  --amplify-primary-shade: #219EBC;
}